<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easy.aid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Class.NetVariables"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Farmacia.OrdinaRicetteFarmacia"></activity>
        <activity android:name=".Farmacia.ImpostazioniFarmacia" />
        <activity android:name=".Medico.ImpostazioniMedico" />
        <activity android:name=".Farmacia.MainFarmacia" />
        <activity android:name=".Medico.CalendarioMedico" />
        <activity android:name=".Medico.CronologiaMedico" />
        <activity android:name=".Medico.RichiesteRicetteMedico" />
        <activity android:name=".Farmacia.RegistrazioneFarmacia" />
        <activity
            android:name=".MainActivity"/>
        <activity
            android:name=".InitialSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Paziente.AccessoPaziente"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Paziente.MainPaziente"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Paziente.RichiediVisitaPaziente"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Paziente.RichiediRicettaPaziente"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Paziente.RichiediVisitaRicettaPaziente"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Paziente.OrdinaRicettaPaziente"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Paziente.ImpostazioniPaziente"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Paziente.CronologiaPaziente"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Paziente.RegistrazionePaziente"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Medico.AccessoMedico"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Farmacia.AccessoFarmacia"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Medico.MainMedico"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Medico.RegistrazioneMedico"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>